body {
  background-color: #18392b;
  color: white;
  font-family: sans-serif; /* Choose your preferred font family */
  margin: 0; /* Remove default margin */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Ensures navbar stays on top of the page */
nav {
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  padding-top: 20px;
  width: 100%;
  margin:  0 auto;
  z-index: 10; /* Set a higher z-index to ensure it stays on top */
}

nav ul {
  list-style: none; /* Remove default bullet points */
  margin: 0; /* Remove default margin */
  padding: 0;
  display: flex; /* Use flexbox for horizontal arrangement */
  justify-content: center; /* Distribute links evenly */
}

nav li {
  display: inline-block; /* Display list items horizontally */
}

nav a {
  color: inherit; /* Inherit color from parent element (nav) */
  text-decoration: none; /* Remove underline from links */
  font-weight: bold;
  padding: 30px;
}

/* Hover effect for black background */
nav a:hover {
  color: black; /* Maintain white text on black hover */
}

/* Active link styling for underlining */
nav li.active a {
  color: black;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  color: white;
  padding-bottom: 10px;
  width: 100%;
  text-align: center;
  z-index: 10; /* Set a higher z-index to ensure it stays on top */
}