
/* --------------- General --------------- */

body {
  background-color: #003566;
  color: white;
  font-family: sans-serif; /* Choose your preferred font family */
  margin: 0; /* Remove default margin */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
  margin-bottom: 70px;
}

.body-text-center {
  text-align: center;
  max-width: 100%;
}

.body-text-left {
  text-align: left;
  max-width: 80%;
}

h1 {
  font-size: 2em;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}

p {
  font-size: 1em;
}

/* --------------- NavBar --------------- */

nav {
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  padding-top: 20px;
  width: 100%;
  margin:  0 auto;
  height: 10vh;
  z-index: 10;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  display: inline-block;
}

nav a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  padding: 30px;
}

nav a:hover {
  color: black; 
}

nav li.active a {
  color: black;
}

/* --------------- Footer --------------- */

.footer {
  height: 10vh;  /* Adjust height as needed */
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  left: 0;
}

/* --------------- index.html --------------- */

.index-body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
}


.image1 {
  width: 150px;
}

.image2 {
  width: 130px;
}

/* --------------- contact.html --------------- */
/* --------------- privacy-policy.html --------------- */
/* --------------- terms-and-conditions.html --------------- */
/* --------------- resources.html --------------- */



