
.main-container {
  display: flex; /* Enable flexbox for the container */
  flex-direction: column; /* Stack elements vertically */
  min-height: 100vh; /* Set minimum height to viewport height */
}

body {
  background-color: #003566;
  color: white;
  font-family: sans-serif; /* Choose your preferred font family */
  margin: 0; /* Remove default margin */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Ensures navbar stays on top of the page */
nav {
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  padding-top: 20px;
  width: 100%;
  margin:  0 auto;
  z-index: 10; /* Set a higher z-index to ensure it stays on top */
}

nav ul {
  list-style: none; /* Remove default bullet points */
  margin: 0; /* Remove default margin */
  padding: 0;
  display: flex; /* Use flexbox for horizontal arrangement */
  justify-content: center; /* Distribute links evenly */
}

nav li {
  display: inline-block; /* Display list items horizontally */
}

nav a {
  color: inherit; /* Inherit color from parent element (nav) */
  text-decoration: none; /* Remove underline from links */
  font-weight: bold;
  padding: 30px;
}

/* Hover effect for black background */
nav a:hover {
  color: black; /* Maintain white text on black hover */
}

/* Active link styling for underlining */
nav li.active a {
  color: black;
}

.vertical-body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
}

.vertical-body-container img {
  max-width: 100%; /* Allow images to scale down */
  height: auto;  /* Maintain aspect ratio */
}

.image1 {  /* Specific styles for image 1 */
  width: 150px; /* Set a maximum width for image 1 */
}

.image2 {  /* Specific styles for image 2 */
  width: 130px; /* Set a maximum width for image 2 */
}

.body-text {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
  max-width: 100%;
}

h1 {
  font-size: 2em; /* Set a larger font size for the heading */
  font-weight: bold; /* Make the heading bold */
}

h2 {
  font-size: 1.5em; /* Set a larger font size for the heading */
  font-weight: bold; /* Make the heading bold */
}

p {
  font-size: 1em; /* Set a slightly larger font size for paragraphs */
}

footer {
  position: fixed;
  bottom: 0; /* Position at the bottom */
  width: 100%; /* Set full width */
  padding: 10px;
  text-align: center;
  left: 0;
}