
body {
	background-color: #331D23;
	color: white;
	font-family: 'Roboto Mono', monospace;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	margin: 0;
}

main {
	flex: 1 0 auto;  /* Flex-grow, flex-shrink, flex-basis */
	padding-top: 40px;
	/* padding-bottom: 40px; */
	width: 90%;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr 2.5fr;
	grid-template-rows: auto;
	width: 100%;
	justify-content: center;
}

.box {
	padding: 10px;
	margin: 0px 30px 0px 30px;
}

.title {
	text-align: center;
	/* background-color: gray; */
}

.content {
	/* text-align: center; */
	/* background-color: gray; */
}

/* --------------- FOOTER --------------- */

footer {
	flex-shrink: 0;
	width: 100%;
	text-align: center;
	padding-top: 120px;
    padding-bottom: 40px;
	margin-top: 100px;
}

/* --------------- FORMAT --------------- */

h1 {
	font-size: large;
	margin: 0;
}

h1 {
	font-size: 1.5em;
    font-weight: 150;
	margin: 0;
}

br {
	line-height: 2em;
}

p {
	margin: 0;
    font-weight: 150;
}

.circular-image {
	border-radius: 50%; /* Make the image a circle */
	border: 2px solid white; /* Add a black outline with desired width */
	width: 250px; /* Set the desired width of the image */
	height: 250px; /* Set the desired width of the image */
	object-fit: cover; /* Ensure entire image area is filled while maintaining aspect ratio */
}

.logo {
	width: 40px;
	padding: 5px;
	padding-bottom: 0;
	color: white;
}

.logos-container {
	padding-top: 10px
}

.logos-container a {
	text-decoration: none;
}
