
body {
	background-color: #331D23;
	color: white;
	font-family: 'Roboto Mono', monospace;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	margin: 0;
}

main {
	flex: 1 0 auto;  /* Flex-grow, flex-shrink, flex-basis */
	padding-top: 40px;
	width: 90%;
}




.grid-container-skills {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
	width: 100%;
	justify-content: center;
}

.skill-box {
	/* padding: 10px; */
	margin-right: 10px;
	margin-bottom: 20px;
	display: flex;         /* Set display to flex to use flexbox properties */
	align-items: center; 
	/* background-color: blue; */
}

.skills-logo {
	width: 30px;
	padding: 0px 10px 0px 0px;
	/* padding-bottom: 0; */
	/* color: white; */
}



.grid-container {
	display: grid;
	grid-template-columns: 1fr 2.5fr;
	grid-template-rows: auto;
	width: 100%;
	justify-content: center;
}

.box {
	padding: 10px;
	margin: 0px 30px 30px 30px;
}

.title {
	text-align: center;
	/* background-color: gray; */
}

.content {
	/* text-align: center; */
	/* background-color: gray; */
}

/* --------------- RANDOM FACT GENERATOR --------------- */

.random-fact-generator {
	display: flex;
	align-items: center;
	gap: 10px;
}

.fact-display {
	height: 50px;
	width: 100%;
	margin: 20px 5px;
	padding: 10px;
	/* border: 1px solid #ddd; */
	font-family: 'Roboto Mono', monospace;
	/* margin: 0; */
	font-size: 1.2em;
	font-weight: 150;
	display: flex;         /* Set display to flex to use flexbox properties */
	align-items: center;   /* Center vertically */
	white-space: pre-wrap; /* Maintains whitespace formatting. */
}

.fact-button {
	padding: 0px;
	cursor: pointer;
    font-size: 24px;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
}

/* --------------- FOOTER --------------- */

footer {
	flex-shrink: 0;
	width: 100%;
	text-align: center;
	margin-bottom: 30px;
}

/* --------------- FORMAT --------------- */

h1 {
	font-size: 1.5em;
	font-weight: 150;
	margin: 0;
}

br {
	line-height: 2em;
}

p {
	margin: 0;
	font-size: 1.2em;
	font-weight: 150;
}

.circular-image {
	border-radius: 50%; /* Make the image a circle */
	border: 2px solid white; /* Add a black outline with desired width */
	width: 250px; /* Set the desired width of the image */
	height: 250px; /* Set the desired width of the image */
	object-fit: cover; /* Ensure entire image area is filled while maintaining aspect ratio */
}

.logo {
	width: 40px;
	padding: 5px;
	padding-bottom: 0;
	color: white;
}

.logos-container {
	padding-top: 10px
}

.logos-container a {
	text-decoration: none;
}


/* --------------- SCROLL BAR --------------- */

::-webkit-scrollbar-track {
	background: #331D23; /* Light grey track */
}

/* The draggable part of the scrollbar */
::-webkit-scrollbar-thumb {
	background-color: darkgrey;
	border-radius: 10px;
}

/* The scrollbar itself (including both Track and Thumb) */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}